@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-y: scroll; /* Always show the vertical scroll bar */
  }

.text-lg a {
    color: #0d47a1;
    transition: all ease-in-out 0.2s;
}

.text-lg a:hover {
    /* Add your desired styles here */
    color: tomato; /* Change to your desired hover color */
    text-decoration: underline; /* Underline the link on hover */
  }